Essentials_Problem_Datafiles
*.pyc
*.txt
*.pyc
*/*.pyc
*.*~
*/*.*~
*.*#
*/*.*#
*/*/.#*
.#*
*.log

rmag_anisotropy.txt
rmag_results.txt
consistency_test/pmag_fixed_criteria.txt
all_errors_list.txt
bootstrap_full_output.txt
extra_out_full_output.txt
random_full_output.txt
rename_me_full_output.txt

new-test-output/*

SPD_consistency_tests/*
pmag_criteria.txt

*.DS_Store
SPD_consistency_tests/*
Command_line_Tests/*
new-test-output/*
rename_me_errors_list.txt
demag_dialog_boxes.py
tmp.txt

thellier_gui_preferences.py
thellier_gui_new_criteria.py
thellier_gui_lori.py


*.pyc


thellier_gui_backup_March_17.py

thellier_gui_backup_Feb_19.py

pmag_backup.py

orient_magic_wx.py

demag_gui copy.py

demag_dialog_boxes.py


thellier_interpreter/*
thellier_GUI.redo

pmag_criteria.txt
foldtest_results_new.out


images/logo.eps

images/logo2.ai

sio_thellier_example.dat
er_samples.txt
er_sites.txt
er_specimens.txt
bMP.sam.magic
wxpython_demo.py
wxpython_log.out
bugs.txt
example.py
wx_log.out
magic_measurements.txt
bugs.txt
er_samples.txt
er_sites.txt
er_specimens.txt
example.py
sio_thellier_example.dat
wxpython_demo.py
wxpython_log.out

magic_measurements.txt

magic_measurements.txt

#.gitignore#

thellier_gui_preferences.py.backup

build/*
dist/*


plot_geomagia_ron.py


TDT_brown_magic.py
.ipynb_checkpoints/*
er_ages.txt
er_locations.txt
MyFunctions.py

Datafiles/thellier_GUI.zip
