
*new.out
.DS_Store
Command_line_Tests/*output.txt*
Command_line_Tests/*_list.txt*
Command_line_Tests/*errors*
Command_line_Tests/magic_select_results_incorrect.out*
Command_line_Tests/*.pyc*
Command_line_Tests/new_test_output/*
*.pyc
*/*.pyc
*.*~
*/*.*~
*.*#
*/*.#

rmag_anisotropy.log
rmag_anisotropy.txt
rmag_results.txt
Command_line_Tests/new-test-output/fig.svg
consistency_test/pmag_fixed_criteria.txt
Command_line_Tests/None
all_errors_list.txt
bootstrap_full_output.txt
extra_out_full_output.txt
random_full_output.txt
rename_me_full_output.txt

new-test-output/.scripttest-test-dir.txt

SPD_consistency_tests/*
pmag_criteria.txt
demag_dialog_boxes.py

tmp.txt

thellier_gui_preferences.py

thellier_gui_new_criteria.py

thellier_gui_lori.py

thellier_gui_backup_March_17.py

thellier_gui_backup_Feb_19.py

pmag_backup.py

orient_magic_wx.py

demag_gui copy.py

thellier_consistency_test.pyc

thellier_consistency_test.pyc

thellier_consistency_test.pyc

check_updates.pyc

check_updates.pyc

pmag.pyc

pmag.pyc
